# Credentials
.spotify_credentials.json

# Environment variables (eski)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Spotify cache
.cache
.cache-*

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
